<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>TopSTATS</title>
    <head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<section id="hero" class="hero">
    <div class="container d-flex justify-content-center position-relative">
        <div class=" row mx-auto w-50 gy-5" data-aos="fade-in">
            <div class="py-2 alert alert-danger" role="alert" th:text="${userNotFound}" th:if="${userNotFound}"></div>
            <form th:action="@{/search}" method="get" class="input-group input-group-lg">
                <input type="text" placeholder="Search player.." name="playerName" class="form-control"
                       aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="icon-boxes position-relative">
        <div class="container position-relative">
            <div class="row gy-4 mt-5">

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-easel"></i></div>
                        <h4 class="title"><a href="" class="stretched-link" th:text="'Winrate: '"></a></h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-gem"></i></div>
                        <h4 class="title"><a href="" class="stretched-link" th:text="'Average damage: '"></a></h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-geo-alt"></i></div>
                        <h4 class="title"><a href="" class="stretched-link" th:text="'Global rating: '"></a></h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-command"></i></div>
                        <h4 class="title"><a href="" class="stretched-link" th:text="'Average kills: '"></a></h4>
                    </div>
                </div><!--End Icon Box -->

            </div>
        </div>
    </div>
</section>

<article sec:authorize="!isAnonymous()">
<div class="album py-5  ">
    <div class="container">
        <div class="row p-2 ">
            <div class="text-center text-white bg-c p-2 mb-2" style="border-radius: 1rem;">
                <h1>Seznam</h1>
                <p><a class="btn bg-c" th:href="@{/folder/create}">Vytvořit nový seznam</a></p>
            </div>
            <div  th:each="f: ${folder}" class="col-md-4  align-content-center">
                <h2 class="text-uppercase bold" th:href="@{'/folder/' + ${f.folderId}}" th:text="${f.folderName}"></h2>
                <div th:each="name: ${f.nameEntities}" class="list-group-item">
                    <a class="h4 text-white bg-c mt-5 mx-1 p-1" style="border-radius: 1rem;" th:href="@{'search?playerName=' + ${name.name}}"  th:text="${name.name}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</article>

</body>
</html>