<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>TopSTATS</title>
    <head th:replace="~{fragments/layout.html :: head}"></head>
    <link rel="stylesheet" th:href="@{/styles/maps.css}" type="text/css"/>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div id="rs-team" class="rs-team fullwidth-team pt-100 pb-70 m-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="http://static.wotbase.net/img/maps/300/19_monastery.jpg" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Abbey</h4>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="team-details">
                                    <h2 class="team-name">
                                        <a>Abbey</a>
                                    </h2>
                                    <ul class="postion">Camo type: Summer</ul>
                                    <ul class="postion">Available battle types: Standard Battle</ul>
                                    <ul class="postion">Size: 1000 x 1000m</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Mariono Rose</h4>
                            <span class="subtitle">CEO &amp; Founder</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="share-icons">
                                    <div class="border"></div>
                                    <ul class="team-social icons-1">
                                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="team-social icons-2">
                                        <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details">
                                    <h4 class="team-name">
                                        <a href="speakers-single.html">Mariono Rose</a>
                                    </h4>
                                    <span class="postion">CEO &amp; Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Stiven Smith</h4>
                            <span class="subtitle">CEO &amp; Founder</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="share-icons">
                                    <div class="border"></div>
                                    <ul class="team-social icons-1">
                                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="team-social icons-2">
                                        <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details">
                                    <h4 class="team-name">
                                        <a href="speakers-single.html">Stiven Smith</a>
                                    </h4>
                                    <span class="postion">CEO &amp; Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Hose Morinho</h4>
                            <span class="subtitle">CEO &amp; Founder</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="share-icons">
                                    <div class="border"></div>
                                    <ul class="team-social icons-1">
                                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="team-social icons-2">
                                        <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details">
                                    <h4 class="team-name">
                                        <a href="speakers-single.html">Hose Morinho</a>
                                    </h4>
                                    <span class="postion">CEO &amp; Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Rihana kery</h4>
                            <span class="subtitle">CEO &amp; Founder</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="share-icons">
                                    <div class="border"></div>
                                    <ul class="team-social icons-1">
                                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="team-social icons-2">
                                        <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details">
                                    <h4 class="team-name">
                                        <a href="speakers-single.html">Rihana kery</a>
                                    </h4>
                                    <span class="postion">CEO &amp; Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Siymon catich</h4>
                            <span class="subtitle">CEO &amp; Founder</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="share-icons">
                                    <div class="border"></div>
                                    <ul class="team-social icons-1">
                                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="team-social icons-2">
                                        <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details">
                                    <h4 class="team-name">
                                        <a href="speakers-single.html">Siymon catich</a>
                                    </h4>
                                    <span class="postion">CEO &amp; Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Siymon catich</h4>
                            <span class="subtitle">CEO &amp; Founder</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="share-icons">
                                    <div class="border"></div>
                                    <ul class="team-social icons-1">
                                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="team-social icons-2">
                                        <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details">
                                    <h4 class="team-name">
                                        <a href="speakers-single.html">Siymon catich</a>
                                    </h4>
                                    <span class="postion">CEO &amp; Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Siymon catich</h4>
                            <span class="subtitle">CEO &amp; Founder</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="share-icons">
                                    <div class="border"></div>
                                    <ul class="team-social icons-1">
                                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="team-social icons-2">
                                        <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details">
                                    <h4 class="team-name">
                                        <a href="speakers-single.html">Siymon catich</a>
                                    </h4>
                                    <span class="postion">CEO &amp; Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 hidden-md ">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="team Image">
                        <div class="normal-text">
                            <h4 class="team-name">Siymon catich</h4>
                            <span class="subtitle">CEO &amp; Founder</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="share-icons">
                                    <div class="border"></div>
                                    <ul class="team-social icons-1">
                                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                        </li>
                                    </ul>

                                    <ul class="team-social icons-2">
                                        <li><a href="#" class="social-icon"><i class="fa fa-skype"></i></a>
                                        </li>
                                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="team-details">
                                    <h4 class="team-name">
                                        <a href="speakers-single.html">Siymon catich</a>
                                    </h4>
                                    <span class="postion">CEO &amp; Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .container-fullwidth -->
</div>


</body>
</html>