<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vytvoření Složky</title>
</head>
<body>
<form class="d-flex flex-column gap-2"
      method="post"
      th:action="@{/folder/create}"
      th:object="${folderDTO}">
    <div class="form-group">
        <label for="title" class="control-label">Titulek</label>
        <input id="title" th:field="*{folderName}" class="form-control"/>
        <small class="text-danger" th:errors="*{folderName}"></small>
    </div>

    <div class="form-group">
        <button type="submit" class="clanky-tlacitko">Uložit</button>
    </div>
</form>

</body>
</html>