<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vytvoření Složky</title>
    <head th:replace="~{fragments/layout.html :: head}"></head>

</head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<form class="py-lg-5 gradient-custom" method="post" th:action="@{/folder/create}" th:object="${folderDTO}">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-c text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5 ">

                            <h2 class="fw-bold mb-2 text-uppercase">add folder</h2>
                            <p class="text-white-50 mb-5">Please enter folder name!</p>

                            <div class="form-outline form-white mb-4">
                                <input id="title" type="text" th:field="*{folderName}" class="form-control form-control-lg" placeholder="Player Name"/>
                                <small class="text-danger" th:errors="*{folderName}"></small>
                            </div>
                            <button type="submit" class="btn btn-outline-light btn-lg px-5 w-50">Uložit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>